[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
blinker = "*"
cffi = "*"
click = "*"
cryptography = "*"
dnspython = "*"
email-validator = "*"
idna = "*"
itsdangerous = "*"
mysql-connector-python = "*"
passlib = "*"
protobuf = "*"
pycparser = "*"
python-dotenv = "*"
six = "*"
Flask = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-SQLAlchemy = "*"
Flask-User = "*"
Flask-WTF = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"
awsebcli = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
