<!DOCTYPE html>
<html lang="US-en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Flask App</title>
</head>
<header>
    {% block header %}
    <h1>To-Do</h1>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_authenticated %}
        <a href="/todos/completed/">Completed Todos</a>
        <a href={{ url_for('user.logout') }}>Sign out</a>
        {% else %}
        <a href={{ url_for('user.login') }}>Sign in</a>
        <a href={{ url_for('user.register') }}>Register</a>
        {% endif %}
    </nav>
    {% endblock %}
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
